.GameBoardContainer {
  margin: 0 auto; 
  width: 720px;
  position: relative;
  perspective: 900px;
}

.GameBoard {
  height: 1375px;
  transform-style: preserve-3d;
}

.BaseBoard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.BaseBoard img {
  width: 100%;
}

.Track {
  position: absolute;
  top: 40.75%;
  left: 0;
  width: 100%;
  height: calc(100% - 40.75%);
}

.TopButtons div {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  width: 110px;
  height: 165px;
  position: absolute;
  opacity: 0;

  transition: opacity 0.25s;
  transform: translate3d(-50%, -50%, 1px);
}

.TopButtons div:hover {
  opacity: 1;
}

.LongTermFirst {
  top: 7.5%;
  left: 9.9%;
}

.LongTermLast {
  top: 7.5%;
  left: 89.4%;
}

.Spot {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-size: 72pt;

  transition: background-color 0.25s;
  transform: translate3d(-50%, -50%, 1px);
}

.Spot:hover {
  background-color: rgba(255, 0, 0, 0.2);
}

.Camels {
  width: 100%;
  height: 100%;
}

.Camel {
  position: absolute;
  width: 12%;
  transform: translate3d(-50%, -50%, 26px) rotateX(-70deg);
  transition: top 1s, left 1s;
}

.camel-y-offset {
  transition: transform 1s;
}

.Camel img {
  width: 100%;
}

.Die {
  position: absolute;
  font-size: 64px;
  font-weight: bold;
  transform: translate3d(-50%, -50%, 50px) rotateX(-70deg);
  transition: top 1s, left 1s, font-size 1s;
  text-shadow: 0px 0px 10px black;
}

.Dice {
  width: 100%;
  height: 100%;
}

.Die.blue {
  top: 38%;
  left: 33%;
  color: #4faac9;
}

.Die.green {
  top: 34%;
  left: 39%;
  color: #789c2e;
}

.Die.orange {
  top: 32%;
  left: 49%;
  color: #e29932;
}

.Die.yellow {
  top: 34%;
  left: 58.5%;
  color: #ddcd22;
}

.Die.white {
  top: 38%;
  left: 64%;
  /* don't want it confused with yellow */
  /* color: #dbdabc; */
  color: white;
}

.Die.center {
  top: 73%;
  left: 50%;
  font-size: 108px;
}

.BetCards {
  width: 100%;
  height: 100%;
}

.BetCardStack {
  position: absolute;
  transform-style: preserve-3d;
}

.BetCardStack.blue {
  top: 33.5%;
  left: 15.75%;
  transform: rotateZ(-61deg);
}

.BetCardStack.green {
  top: 25.35%;
  left: 28.3%;
  transform: rotateZ(-38deg);
}

.BetCardStack.orange {
  top: 21.25%;
  left: 49.5%;
}

.BetCardStack.yellow {
  top: 25.35%;
  left: 70.7%;
  transform: rotateZ(38.5deg);
}

.BetCardStack.white {
  top: 33.4%;
  left: 83.75%;
  transform: rotateZ(60.5deg);
}

.BetCardStack img {
  position: absolute;
  width: 110px;
  transition: opacity 0.5s;
}

.BetCardStack img.bet-value-2 {
  transform: translate3d(-50%, -50%, 5px);
}

.BetCardStack img.bet-value-3 {
  transform: translate3d(-50%, -50%, 10px);
}

.BetCardStack img.bet-value-5 {
  transform: translate3d(-50%, -50%, 15px);
}

.Pyramid {
  position: absolute;
  width: 36%;
  height: 36%;
  top: 27%;
  left: 32%;
  pointer-events: none;
}

.Pyramid .hidden-base {
  /* background-color: black; */
  position: absolute;
  width: 100%;
  height: 120%;
  pointer-events: auto;
  transform: translateZ(1px);
}

.Pyramid img {
  width: 100%;
  position: absolute;
  transform-origin: bottom center;
  /* border: 10px solid black;
  opacity: 0.2; */
  transition: transform 0.25s, opacity 3s ease-in-out;
}

.Pyramid.hidden img {
  opacity: 0;
}

.Pyramid .front {
  transform: translateY(25px) translateY(50%) rotateX(-51deg);
}

.Pyramid.hovered .front {
  transform: translateZ(40px) translateY(25px) translateY(50%) rotateX(-51deg);
}

.Pyramid .left {
  transform: translateX(-50%) rotateZ(90deg) rotateX(-51deg);
}

.Pyramid.hovered .left {
  transform: translateZ(40px) translateX(-50%) rotateZ(90deg) rotateX(-51deg);
}

.Pyramid .right {
  transform: translateX(50%) rotateZ(-90deg) rotateX(-51deg);
}

.Pyramid.hovered .right {
  transform: translateZ(40px) translateX(50%) rotateZ(-90deg) rotateX(-51deg);
}

/* don't think this one shows anymore now that the pyramid is taller than it used to be */
/* .Pyramid .back {
  transform: translateY(-50%) rotateX(-129deg);
  transition: transform 0.25s;
}

.Pyramid:hover .back {
  transform: translateZ(10px) translateY(-50%) rotateX(-129deg);
} */

/* .spot-15-pos {
  top: 0;
  left: 0;
}

.spot-15-size {
  width: 18.5%;
  height: 20.5%;
}

.spot-16-pos {
  top: 0;
  left: 18.5%;
}

.spot-16-size {
  width: 20.75%;
  height: 20.5%;
}

.spot-1-pos {
  top: 0;
  left: 39.25%;
}

.spot-1-size {
  width: 21%;
  height: 20%;
}

.spot-2-pos {
  top: 0;
  left: 60.25%;
}

.spot-2-size {
  width: 21%;
  height: 20%;
}

.spot-3-pos {
  top: 0;
  left: 81.25%;
}

.spot-3-size {
  width: 18.75%;
  height: 20%;
}

.spot-4-pos {
  top: 20%;
  left: 81.25%;
}

.spot-4-size {
  width: 18.75%;
  height: 19.5%;
}

.spot-5-pos {
  top: 39.5%;
  left: 81.25%;
}

.spot-5-size {
  width: 18.75%;
  height: 19.5%;
}

.spot-6-pos {
  top: 59%;
  left: 81.25%;
}

.spot-6-size {
  width: 18.75%;
  height: 20%;
}

.spot-7-pos {
  top: 79%;
  left: 81%;
}

.spot-7-size {
  width: 19%;
  height: 21%;
}

.spot-8-pos {
  top: 79%;
  left: 60.5%;
}

.spot-8-size {
  width: 20.5%;
  height: 21%;
}

.spot-9-pos {
  top: 79%;
  left: 38.5%;
}

.spot-9-size {
  width: 22%;
  height: 21%;
}

.spot-10-pos {
  top: 79%;
  left: 18.5%;
}

.spot-10-size {
  width: 20%;
  height: 21%;
}

.spot-11-pos {
  top: 79%;
  left: 0;
}

.spot-11-size {
  width: 18.5%;
  height: 21%;
}

.spot-12-pos {
  top: 59.75%;
  left: 0;
}

.spot-12-size {
  width: 18.5%;
  height: 19.25%;
}

.spot-13-pos {
  top: 39.75%;
  left: 0;
}

.spot-13-size {
  width: 18.5%;
  height: 20%;
}

.spot-14-pos {
  top: 20.5%;
  left: 0;
}

.spot-14-size {
  width: 18.5%;
  height: 19.25%;
} */

.spot-15 {
  top: calc(0% + 20.5% / 2);
  left: calc(0% + 18.5% / 2);
}

.spot-16 {
  top: calc(0% + 20.5% / 2);
  left: calc(18.5% + 20.75% / 2);
}

.spot-1 {
  top: calc(0% + 20% / 2);
  left: calc(39.25% + 21% / 2);
}

.spot-2 {
  top: calc(0% + 20% / 2);
  left: calc(60.25% + 21% / 2);
}

.spot-3 {
  top: calc(0% + 20% / 2);
  left: calc(81.25% + 18.75% / 2);
}

.spot-4 {
  top: calc(20% + 19.5% / 2);
  left: calc(81.25% + 18.75% / 2);
}

.spot-5 {
  top: calc(39.5% + 19.5% / 2);
  left: calc(81.25% + 18.75% / 2);
}

.spot-6 {
  top: calc(59% + 20% / 2);
  left: calc(81.25% + 18.75% / 2);
}

.spot-7 {
  top: calc(79% + 21% / 2);
  left: calc(81% + 19% / 2);
}

.spot-8 {
  top: calc(79% + 21% / 2);
  left: calc(60.5% + 20.5% / 2);
}

.spot-9 {
  top: calc(79% + 21% / 2);
  left: calc(38.5% + 22% / 2);
}

.spot-10 {
  top: calc(79% + 21% / 2);
  left: calc(18.5% + 20% / 2);
}

.spot-11 {
  top: calc(79% + 21% / 2);
  left: calc(0% + 18.5% / 2);
}

.spot-12 {
  top: calc(59.75% + 19.25% / 2);
  left: calc(0% + 18.5% / 2);
}

.spot-13 {
  top: calc(39.75% + 20% / 2);
  left: calc(0% + 18.5% / 2);
}

.spot-14 {
  top: calc(20.5% + 19.25% / 2);
  left: calc(0% + 18.5% / 2);
}

.Camels {
  position: absolute;
}